
 {
    height: 600px;
    grid-column: 1/4;
    background-image: url('img/schrute-gate.jpg');
    background-size: cover;
    grid-gap: 1em;
}
.info {
    height: 450px;
    background: #333333;
    padding: 30px;
    
}

.info-tile1 {
    height: 343px;
    background: #fff;
    float: left;
    margin-right: 5px;
    border: 1px solid #000;
  
}

.info-tile2 {
    height: 343px;
    background: #ddd;
    float: left;
    margin-right: 5px;
    border: 1px solid #000;
}

.info-tile3 {
    height: 343px;
    background: #fff;
    float: left;
    grid-gap: 2em;
    border: 1px solid #000;
}

.sidebar-main {
    padding-top: 15px;
}

footer {
    grid-column: 1/4;
    background: #121212;

}
footer {
    grid-column: 1/4;
    background: #121212;

}

.nav-footer {
    grid-column: 1/4;
    grid-auto-rows: 75px;
    padding-top: 15px;
}

.nav-footer ul {
    list-style-type: none;

}

.nav-footer li {
    float: left;
}

.nav-footer li a {
    display: block;
    color: #fff;
}

.left-nav {
    padding-left: 15px;
    padding-right: 15px;
}

.right-nav {
    padding-left: 15px;
    padding-right: 15px;
}

.copy {
    grid-column: 1/4;
    clear: both;
    padding-top: 25px;
    text-align: center;
}

.site-credit {
    clear: both;
    padding-top: 15px;
    text-align: center;
}