<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us Developers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
</head>
<body>

    <div class="wrapper">
        <div class="developer">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Shrute Farms Bed &amp; Breakfast</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/rooms">Rooms<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/reservations">Reservations</a>
                                    <a class="dropdown-item" href="/amenities">Amenities</a>
                                    <a class="dropdown-item" href="/contact">Contact Us</a>
                                    <a class="dropdown-item" href="/dev">The Developers</a>
                                
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </div>
    <main class="container">
        <br>
        <h2>About Us Developers</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto labore delectus fugit recusandae
            soluta cumque doloribus praesentium excepturi, illo odio alias blanditiis eaque architecto.</p>
        <div class="roomInfo row">
           
            <div class="description col-md-6">
                <h3 class="text-left height">Stu</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quo quasi exercitationem recusandae,
                    ab voluptatem aliquam cum aperiam in quidem harum. Pariatur odio molestiae ipsa explicabo fuga optio
                    dolorum obcaecati reprehenderit, repellendus quod quidem nisi officiis incidunt doloribus quis beatae
                    voluptas. Deserunt, alias. Magnam et repudiandae laborum excepturi iure. Quibusdam.</p>
            </div>

            <div class="col-md-6 description">
                <h3 class="text-left height">Lauren</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis animi sequi ratione, sed ab? Ullam
                    mollitia vitae voluptatum odit sint culpa esse pariatur, obcaecati, aspernatur error inventore
                    similique quos illum iste? Soluta magnam dignissimos esse unde, optio non, facere aspernatur aliquid
                    harum ratione molestiae fuga placeat consequuntur minima neque.</p>
            </div>
            
            <div class="col-md-6 description">
                <h3 class="text-left height">Rachel</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis animi sequi ratione, sed ab? Ullam
                    mollitia vitae voluptatum odit sint culpa esse pariatur, obcaecati, aspernatur error inventore
                    similique quos illum iste? Soluta magnam dignissimos esse unde, optio non, facere aspernatur aliquid
                    harum ratione molestiae fuga placeat consequuntur minima neque.</p>
            </div>
       
        <div class="col-md-6 description">
            <h3 class="text-left height">Kywanzia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, possimus illo eum maiores quia officiis praesentium natus. Rerum ipsam, ex laborum quasi saepe doloribus quo natus ab tempore sit deserunt nemo debitis fugiat vitae explicabo in enim repellendus aperiam temporibus itaque dolores! Sit veniam perspiciatis facere ex optio enim labore.</p>
        </div>
</div>
        </div>
        </div>
        
    </main>
    <footer>
    
        <p class="copy">Copyright &copy; 2018, Schrute Farms, LLC. All Rights Reserved.</p>
    
        <p class="site-credit"><small>Designed by Chingu Voyage 7: <a href="https://github.com/chingu-voyage7/Geckos-Team-05"><span
                        class="gecko-coloring">Geckos Team 5</span></a> with &hearts;</small></p>
    </footer>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>