<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us Developers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
</head>
<body>

    <div class="wrapper">
        <div class="developer">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Shrute Farms Bed &amp; Breakfast</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/rooms">Rooms<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/reservations">Reservations</a>
                                    <a class="dropdown-item" href="/amenities">Amenities</a>
                                    <a class="dropdown-item" href="/contact">Contact Us</a>
                                    <a class="dropdown-item" href="/dev">The Developers</a>
                                
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </div>
    <main class="container">
        <br>
        <h2>About Us Developers</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iusto labore delectus fugit recusandae
            soluta cumque doloribus praesentium excepturi, illo odio alias blanditiis eaque architecto.</p>
        <div class="roomInfo row">
           
            <div class="description col-md-6">
                <h3 class="text-left">Stu</h3>
                <h5 class="text-left">Project Manager (first half) | Freelance Full Stack JavaScript Dev</h5>
                <p>Way back high school Stu took a computer science course and loved it but he mistakenly thought that coding was only for math geniouses. So instead Stu pursued an undergrad in biological sciences, a masters in environmental studies and did a bunch of project management training. Along the way has Stu worked with Habitat for Humanity, the United Nations University, a small NGO that provides clean drinking water in rural Uganda, and he was even a museum curator for a while. Most recently, Stu worked as an Environmental Project Manager with a group of isolated First Nation communities in Northern Ontario. Then, in mid-2017 Stu rediscovered his love for code and by the end of the year he was learning how to become a webdev full-time. You can connect with Stu at stu.finn (at) gmail.com</p>
            </div>

            <div class="col-md-6 description">
                <h3 class="text-left">Lauren</h3>
                <h5 class="text-left">Insert Role | Insert Learning Path</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis animi sequi ratione, sed ab? Ullam
                    mollitia vitae voluptatum odit sint culpa esse pariatur, obcaecati, aspernatur error inventore
                    similique quos illum iste? Soluta magnam dignissimos esse unde, optio non, facere aspernatur aliquid
                    harum ratione molestiae fuga placeat consequuntur minima neque.</p>
            </div>
            
            <div class="col-md-6 description">
                <h3 class="text-left">Rachel</h3>
                <h5 class="text-left">Front End Developer | Backend Learner</h5>
                <p>Hi everyone! I'm a first time Chingu voyager and an avid fan of the office. 
                    I love all things tech and am always looking to get involved in communities about things I'm passionate about! 
                    Currently channelling my creativity through organizing hackathons, advocating for women in computer science, and 
                    creating technology for social good.
                    At the moment, I'm pursuing my passion and studying Computer Science at University of Waterloo. 
                    Check out my <a href="https://dev.to/rachelzzhu" target="_blank">blog</a> or 
                    <a href="https://github.com/rachelzzhu" target="_blank">Github</a> to see what I'm up to! :)</p>
            </div>
       
        <div class="col-md-6 description">
            <h3 class="text-left">Kywanzia</h3>
            <h5 class="text-left">Project Manager (2nd Half) | Front End Developer | Backend Learner</h5>
            <p>Hello All! I’m Kywanzia from the good Ole Midwest! I am a mother of two and a self-taught developer. I started coding
            in college when I was a CS major but ultimately gradated with my BA in International Relations with a minor in East
            Asian Studies focusing on Japanese language and culture. I currently work as a licensed Insurance Producer for 6 different
            states. One night I decided to pick up coding again up just before giving birth to my son in 2017. I now freelance and am 
            looking forward to a career change soon. It is my desire to be a Full Stack web developer making video games on the side 
            for fun. Follow me or hire me at <a href="http://www.jaffacakestudio.com" target="_blank" rel="noopener noreferrer"></a></p>
        </div>
</div>
        </div>
        </div>
        
    </main>
    <footer>
    
        <p class="copy">Copyright &copy; 2018, Schrute Farms, LLC. All Rights Reserved.</p>
    
        <p class="site-credit"><small>Designed by Chingu Voyage 7: <a href="https://github.com/chingu-voyage7/Geckos-Team-05"><span
                        class="gecko-coloring">Geckos Team 5</span></a> with &hearts;</small></p>
    </footer>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>