<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reservations | Schrute Farms B&B</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
  <div class="wrapper">
    <div class="main-wrapper">
      <!-- Focal Image / Gallery Carousel as background of div wrapper?-->
      <header>
        <nav class="nav-header">
          <ul>
            <li class="left-nav"><a href="#">Home</a></li>
            <li class="left-nav current"><a href="#">About</a></li>
            <li class="left-nav"><a href="#">Rooms</a></li>
            <li class="left-nav"><a href="#">Amenities</a></li>
            <!-- can use flex to change order for mobile/tablet view? -->
            <li class="logo-nav"><a href="#"><img src="img/schrute-logo.jpg" alt="Schrute Farms Logo" id="schrute-logo"></a></li>
            <li class="right-nav"><a href="#">Reservations</a></li>
            <li class="right-nav"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </header>
    </div> <!-- End of .main-wrapper -->
    
    <!-- main page content below -->
    <main>
      <h2>Availability</h2>

        <!-- Is there a way to make the calendar responsive? -->

        <iframe src="https://calendar.google.com/calendar/embed?title=Schrute%20Farms%20B%26B%20Availability&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=iodko3fmms67ovbvbbljc8mrng%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FDetroit" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

      <h2>Submit a Reservation Request</h2>

      <form action="#" method="GET" class="reservationForm">

        <div id="name-container">
          <label for="name">Name:</label>
          <input class="inputBox" type="text" name="name" id="name" required>
        </div>

        <div id="email-container">
          <label for="email">Email:</label>
          <input class="inputBox" type="email" name="email" id="email">
        </div>

        <div id="phone-container">
          <label for="phone">Phone number:</label>
          <input class="inputBox" type="tel" name="phone" id="phone" required>
        </div>

        <div id="guests">
          
          <label for="adults">Number of Adults (16+ years):</label>
          <select name="guests">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value=4">4 or more</option>
          </select>

          <label for="children">Number of Children (0-15yrs):</label>
          <select name="guests">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value=4">4 or more</option>
          </select>

        </div>

        <div id="number-of-rooms">
          <label for="num-rooms">How many rooms are requested?</label>
          <select name="num-rooms">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
          </select>
        </div>

        <div id="preferred-rooms">
          <label for="pref-rooms">Which room(s) do you prefer? (select all that apply)</label>
          <input type="checkbox" name="room" value="America">America Room
          <input type="checkbox" name="room" value="Irrigation">Irrigation Room
          <input type="checkbox" name="room" value="Nighttime">Nighttime Room

        </div>

        <div id="arrive-container">
          <label for="arrival-date">Arrival date:</label>
          <input class="inputBox" type="date" name="arrival-date" id="arrival-date" required>
        </div>

        <div id="depart-container">
            <label for="depart-date">Departure date:</label>
            <input class="inputBox" type="date" name="depart-date" id="depart-date" required>
        </div>

        <div id="flex-dates-container">
          <label for="flexibility">Are your dates flexible?</label>
          <input type="radio" name="flexibility" value="yes">Yes
          <input type="radio" name="flexibility" value="no">No
          <input type="radio" name="flexibility" value="maybe">Maybe
        </div>

        <div id="comments-container">
          <label for="comments">Comments/Questions:</label>
          <textarea class="inputBox" cols="25" rows="10">Enter your comments (e.g. What type of beets do you grow? Should I be concerned about bears?</textarea>
        </div>

        <div id="submit-container">
          <input type="submit" name="submit" value="Submit">
        </div>


      </form>

    </main>
    <footer>

      <p class="disclaimer">We do our best to accomodate each booking request.  We will respond within 24 hours to confirm your request. Thank you for your interest in staying with Schrute Farms B&B.</p>

				<nav class="nav-footer">
					<!-- change up links in footer nav from header nav?? -->
				<ul>
					<li class="left-nav"><a href="#">Home</a></li>
					<li class="left-nav"><a href="#">Rooms</a></li>
					<li class="left-nav"><a href="#">Amenities</a></li>
					<!-- can use flex to change order for mobile/tablet view? -->
					<li class="logo-nav"><a href="#">Schrute Farms B&B</a></li>
					<li class="right-nav"><a href="#">Reservations</a></li>
					<li class="right-nav"><a href="#">Contact</a></li>
				</ul>
				</nav>

				<p class="copy">Copyright &copy; 2018, Schrute Farms, LLC. All Rights Reserved.</p>

				<p class="site-credit"><small>Designed by Chingu Voyage 7: <a href="https://github.com/chingu-voyage7/Geckos-Team-05">Geckos Team 5</a> with &hearts;</small></p>


  </div> <!-- End of .wrapper -->
</body>
</html>